data/green_tripdata_2021-01.parquet
data/green_tripdata_2021-02.parquet
data/green_tripdata_2021-03.parquet
data/green_tripdata_2021-04.parquet
data/green_tripdata_2021-05.parquet
data/green_tripdata_2021-06.parquet
data/green_tripdata_2021-07.parquet
data/green_tripdata_2021-08.parquet
data/green_tripdata_2021-09.parquet
data/green_tripdata_2021-10.parquet
data/green_tripdata_2021-11.parquet
data/green_tripdata_2021-12.parquet
data/yellow_tripdata_2022-01.parquet
data/yellow_tripdata_2022-02.parquet
models/lin_reg.bin
duration_prediction_v1_mlflow.ipynb
duration_prediction_v1.ipynb
duration_prediction.ipynb
mlflow.db
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/08a19972cd9c4ee0a1e79b90c3a24804/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/19212e5124ea4936a53cf341288dbad7/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/213785da48884f48a80464db22b85a55/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/25fd153e85e84f26a68b2166ae87f806/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/28a03bde0d674ee799cc0633303b6725/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/28e0a0acd2284135908e22547ea6a3a9/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/estimator.html
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/conda.yaml
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/MLmodel
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/model.pkl
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/python_env.yaml
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/requirements.txt
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/metadata/conda.yaml
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/metadata/MLmodel
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/model/metadata/requirements.txt
02_experiment_tracking/mlruns/1/30048ba1570a4d99a902d119cbd7055b/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/30c61ddcb8df41638a8c21927f33ab51/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/3308fe37cc214482bef197d5026cf094/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/4777df161a3d4f3cac1e3231d157421e/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/4cc69d8a295149f9a6745699a9af3ebb/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/5062873342df42f79d09cd2025a70e15/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/estimator.html
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/conda.yaml
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/MLmodel
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/model.pkl
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/python_env.yaml
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/requirements.txt
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/metadata/conda.yaml
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/metadata/MLmodel
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/model/metadata/requirements.txt
02_experiment_tracking/mlruns/1/52a0da90dbba47f0b5c88d39859cde88/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/680f1b3f2ff4412daaca08ba0d634067/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/6b1f024e686944bc8cd9059899067f6c/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/6cf51955bbe048e796c3f79fb3cfcb4c/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/915b52e1e260427798fb718b4614a346/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/91978e4a8dd4474699d977c21c29ce23/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/a99f7729c68d4ec19ec67fbc60de9adc/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/afffa49547be4ce3a2d4380243b1f849/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/c31c5c3fc9c34e1b9456c8a5eea0985a/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/cdea122ebb884fb290a9c936b66beee8/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/conda.yaml
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/MLmodel
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/model.xgb
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/python_env.yaml
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/requirements.txt
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/metadata/conda.yaml
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/metadata/MLmodel
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/metadata/python_env.yaml
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/models_mlflow/metadata/requirements.txt
02_experiment_tracking/mlruns/1/d29ca015f04044d68a43b61b15daaf61/artifacts/preprocessor/preprocessor.b
02_experiment_tracking/mlruns/1/d47b0d8f330a4c13bf72f78a94cd384e/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/e0adc4bbbb704b4ca10f10d5ec6fd573/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/ec3316175ec14be1828474c5c68c2f00/artifacts/models_pickle/lin_reg.bin
02_experiment_tracking/mlruns/1/f810aa2cc6344794ad1c8db496e5dced/artifacts/models_pickle/lin_reg.bin
models/preprocessor.b
02_experiment_tracking/requirements.txt
02_experiment_tracking/duration-prediction.ipynb
02_experiment_tracking/homework/data/green_tripdata_2023-01.parquet
02_experiment_tracking/homework/data/green_tripdata_2023-02.parquet
02_experiment_tracking/homework/data/green_tripdata_2023-03.parquet
02_experiment_tracking/running-mlflow-examples/scenario-1.ipynb
02_experiment_tracking/running-mlflow-examples/scenario-2.ipynb
02_experiment_tracking/running-mlflow-examples/scenario-3.ipynb
02_experiment_tracking/running-mlflow-examples/mlruns/0/meta.yaml
