data/green_tripdata_2021-01.parquet
data/green_tripdata_2021-02.parquet
data/green_tripdata_2021-03.parquet
data/green_tripdata_2021-04.parquet
data/green_tripdata_2021-05.parquet
data/green_tripdata_2021-06.parquet
data/green_tripdata_2021-07.parquet
data/green_tripdata_2021-08.parquet
data/green_tripdata_2021-09.parquet
data/green_tripdata_2021-10.parquet
data/green_tripdata_2021-11.parquet
data/green_tripdata_2021-12.parquet
data/yellow_tripdata_2022-01.parquet
data/yellow_tripdata_2022-02.parquet
models/lin_reg.bin
duration_prediction_v1_mlflow.ipynb
duration_prediction_v1.ipynb
duration_prediction.ipynb
mlflow.db
